{
    "printWidth": 180,
    "tabWidth": 10,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": false,
    "semi": true,
    "jsxBracketSameLine": true,
    "arrowParens": "always"
  }